	    #container {
	      position: relative;
	      font-family:sans-serif;
	      font-size:0.8em;
	      max-width: 700px;
	      margin-left: 5em;
	    }

	    #header {
	      position: relative;
	      margin-top: 1em;
	      margin-bottom: 2em;
	    }

	    #toprow {
	      clear: both;
	      margin-top: 1em;
	    }

	    #main {
	      margin-top: 1em;
	      max-width: 700px;
	    }

	    #logo {
	      float:left;
	      font-size:24px;
	      font-family:sans-serif;
	      font-weight:bolder;
	      
	    }

	    #tablename {
	       font-size:24px;
	      font-family:sans-serif;
	      font-weight: 100;

	    }

	    #entryname {
	      font-size:24px;
	      font-family:arial, sans-serif;
	      font-weight:bold;
	      margin: 1em;
	    }

	    .location {
	      font-size:16px;
	    }

	    #description {
	      font-size:1em;
	      margin: 0.5em;
	      margin-bottom: 2em;
	    }

	    #comment {
	      margin: 1em;
	    }

	    .row {
	      clear: both;
	      display: inline-block;
	        margin: 0.5em 0em 0.15em 0.15em;
	        width: 100%;
	    }

	    .fieldname {
	      float:left;
	      width:  30%;
	      font-size:0.9em;
	      font-weight:bold;
	      margin: 0.5em 0em 0.15em 0.15em;
	    }

	    .fieldvalue {
	      font-size:0.9em;
	      float:left;
	      width:  60%;
	      margin: 0.5em 0em 0.15em 0.15em;
	    }
	    
	    #custommap {
	      max-width: 100%;
	      height: auto;
	    }

	    #plasmidmap {
	    	max-width:100%;
			max-height:100%;
	    	    	
	    }

	    #info {
	      font-size:8px;
	      font-style: italic;
	      font-color: #aaa;
	    }
	    
	    .longfield {
	    word-wrap: break-word;         /* All browsers since IE 5.5+ */
	    overflow-wrap: break-word;     /* Renamed property in CSS3 draft spec */
	    width: 100%;
	    }

	    ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

.texts{
    display: block;
    color: white;
    text-align: center;
    padding: 10px 12px;
    text-decoration: none;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 12px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

.active {
    background-color: #333;
}


body
{
    font-family: Arial;
    font-size: 14px;
}
a {
    color: #111;
    text-decoration: none;
    font-size: 14px;
}
a:hover
{
    text-decoration: underline;
}

 /* Add a gray right border to all list items, except the last item (last-child) */
li {
    border-right: 1px solid #bbb;
}

li:last-child {
    border-right: none;
}
